html {
    background-color: #f3c058;
    /*background-color: #6A2323;*/
}

html > body {
    text-align: center;
    margin: 0;
}


#header {
    /*background-color: rgba(0,0,0,1);*/
    background: linear-gradient(0.25turn, #f6df2c, #f9d64e, #f9e180, #f3c058, #f0a400);
    font-family: "Fredericka the Great", serif;
    font-size: 2em;
    color: black;
    box-shadow: 0px 0px 5px black;
    z-index: 4;
    height: 3rem;
    border-radius: 3rem;
    margin-left: 35%;
    width: 30%;
    position: absolute;
}

#header > p {
    margin: 0em;
    padding: 0.15em;
}

#lily_img {
    position: absolute;
    width:15em;
    left: 1em;
    bottom: 0px;
    margin:auto;
}

#chat_zone {
    top: 3rem;
    bottom: 3rem;
    overflow-y: scroll;
    height: calc(100vh - 6rem);
    position: absolute;
    width: 100%;
}

#body_frame {
    background-color: #f9e180;
    box-shadow: 0px 3px 5px black;
    margin-left: 20%;
    width: 60%;
    top: 0px;
    position: absolute;
    bottom: 0px;
}

#input_zone {
    height: 3rem;
    width: 100%;
    bottom: 0px;
    background-color: #f6df2c !important;
    position: absolute;
}

#input_zone > input {
    height: 70%;
    width: calc(100% - 3.5rem);
    margin-top: 0.5rem;
    margin-left: -2.75rem;
    padding: 0rem 0.75rem;
    font-size: 1rem;
    font-weight: 100;
    font-family: "Quicksand", sans-serif;
    border: none;
    box-shadow: 0px 0px 1px;
    border-radius: 1em;
}

#input_zone > span {
    position: absolute;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 3em;
    border: none;
    margin: 0.3rem;
    background: rgb(96, 170, 255);
    box-shadow: black 0px 0px 1px;
}

#input_zone > span > img {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;    
    margin-left: -0.8rem;
    margin-top: 0.45rem;
}

.chat {
    min-width: initial;
    max-width: 45%;
    border-radius: 0.5em;
    text-wrap: wrap;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    margin-bottom: 0.8em;
    position: relative;
    padding: 2px 6px;
    clear: both;
    text-align: left;
    z-index: 2;
}

.chat.timestamped::before {
    content: attr(data-timestamp);
    position: absolute;
    margin-top: -1em;
    background: rgb(96, 170, 255);
    color:white;
    padding: 0 0.25em;
    border-radius: 1em;
    font-size: 0.75em;
  }

.chat.cosy {
    margin-bottom: 0.2em !important;
}

ul {
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
}

ul::after {
    width: 3em;
    border-bottom: 3em;
    clear: both;
    margin: auto;
}

.host {
    margin-left: 1em;
    float: left;
    border-radius: 0.5em 0.5em 0.5em 0em;
}

.guest {
    margin-right: 1em;
    float: right;
    border-radius: 0.5em 0.5em 0em 0.5em;
}

li.bottom_line {
    width: 3em;
    border-bottom: none;
    clear: both;
    margin: auto;
    list-style: none;
}

@media (max-width: 700px) {
    #header {
        margin-left: 10%;
        width: 80%;
    }

    #chat_zone {
        top: 3rem;
        left: 0px;
        bottom: 3rem;
        overflow-y: scroll ;
        height: calc(100vh - 6rem);
    }

    #body_frame {
        margin-left: 10%;
        width: 80%;
    }

    #lily_img {
        bottom: 3rem;
    }
}

@media (max-width: 600px) {
    #header {
        left: 0px !important;
        margin-left: 0px !important;
        width: 100% !important;
    }

    #chat_zone {
        top: 3rem !important;
        left: 0px !important;
        bottom: 3rem !important;
        overflow-y: scroll !important;
        height: calc(100vh - 6rem) !important;
    }

    #body_frame {
        box-shadow: none !important;
        margin-left: 0% !important;
        width: 100% !important;
    }

    #lily_img {
        bottom: 3rem !important;
    }
}
